<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style1.css"/>
</head>
<body>
    {%include 'header.html'%} 
    <div class="cont">
        <h1>ABOUT US</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi illum cumque, officia nostrum ea animi? Architecto quibusdam ducimus beatae illo temporibus laudantium illum qui excepturi? Provident quibusdam libero quia porro.</p>

    </div>
    {%include "footer.html"%}
</body>
</html>