<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style1.css"/>
    <style>
        .cont{
            height:100vh;
            width:100%;
            margin-top:10%;
            text-align:center;
        }
        li{
           
            font-size: 25px;
            font-weight: 900;
            font-family: monospace;
        }
        p{
            margin-bottom: 30px;
        }
        </style>
</head>
<body>
    {%include 'header.html'%} 
    <div class="cont">
        <h1>CONNECT WITH US</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi illum cumque, officia nostrum ea animi? Architecto quibusdam ducimus beatae illo temporibus laudantium illum qui excepturi? Provident quibusdam libero quia porro.</p>
        <ul>
            <li>EMAIL: 1234@techworld.org</li>
            <li>PHONE:####0000000</li>
            <li>148 block-C 78 Katra Prayagraj, UP </li>
        </ul>
    </div>
    {%include "footer.html"%}
</body>
</html>