<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
      *{
        padding: 0;
        margin:0;
        box-sizing: border-box;
    }
    .foot1{
        height:25vh;
        width:100%;
        background-color: black;
        color:antiquewhite;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

       
    }
    #f1{
        font-size: 30px;
        font-weight:900 ;
       
    </style>
</head>



<body>
    <footer>
        <div class="foot1">
            <p id="f1">Created by Harsh Verma</p><br>
            <p id="f2">Thankyou for using</p>
            </div>

    </footer>
</body>
</html>